services:
  indexer:
    image: ghcr.io/gokceno/sufle-cli:0.2.3
    container_name: indexer
    command: start:cli index
    environment:
      - LOG_LEVEL=info
      - DB_MIGRATIONS_APPLY=true
    volumes:
      - ./sufle-cli.yml:/app/apps/cli/sufle.yml
      - ./sample/data:/app/apps/cli/sample/data
      - cli_data:/app/apps/cli/db
    restart: unless-stopped
    depends_on:
      - api

  vectorizer:
    image: ghcr.io/gokceno/sufle-cli:0.2.3
    container_name: vectorizer
    command: start:cli vectorize
    environment:
      - LOG_LEVEL=info
      - DB_MIGRATIONS_APPLY=false
    volumes:
      - cli_data:/app/apps/cli/db
      - ./sufle-cli.yml:/app/apps/cli/sufle.yml
      - ./sample/data:/app/apps/cli/sample/data
    restart: unless-stopped
    depends_on:
      - api

  reducer:
    image: ghcr.io/gokceno/sufle-cli:0.2.3
    container_name: reducer
    command: start:cli reduce
    environment:
      - LOG_LEVEL=info
      - DB_MIGRATIONS_APPLY=false
    volumes:
      - cli_data:/app/apps/cli/db
      - ./sufle-cli.yml:/app/apps/cli/sufle.yml
      - ./sample/data:/app/apps/cli/sample/data
    restart: unless-stopped
    depends_on:
      - api

  api:
    image: ghcr.io/gokceno/sufle-api:0.7.1
    container_name: api
    command: start:api
    ports:
      - 3000
    environment:
      - LOG_LEVEL=info
      - DB_MIGRATIONS_APPLY=true
    volumes:
      - api_data:/app/apps/api/db
      - ./sufle-api.yml:/app/apps/api/sufle.yml
    restart: unless-stopped

volumes:
  cli_data:
  api_data:
