sufle.yml
sufle*.yml
.DS_Store
.turbo
.env.*
.env
*.sqlite
**/sample/
*.conf

# Logs
logs
*.log
*.log*

# Dependency directories - but preserve workspace structure
**/node_modules/.cache
**/node_modules/.pnpm
