services:
  rclone:
    image: rclone/rclone:latest
    container_name: rclone
    command: rcd --rc-addr=:5572 --rc-user=admin --rc-pass=password --rc-serve
    volumes:
      - ./apps/cli/rclone.conf:/rclone.conf
      - rclone_data:/data/
    environment:
      - RCLONE_CONFIG=/rclone.conf
    restart: unless-stopped

  indexer:
    build:
      dockerfile: ./apps/cli/Dockerfile
    container_name: indexer
    command: start:cli index
    environment:
      - LOG_LEVEL=info
      - DB_MIGRATIONS_APPLY=true
    volumes:
      - ./apps/cli/sufle.yml:/app/apps/cli/sufle.yml
      - ./apps/cli/sample/data:/app/apps/cli/sample/data
      - cli_data:/app/apps/cli/db
    restart: unless-stopped
    depends_on:
      - api
      - rclone

  vectorizer:
    build:
      dockerfile: ./apps/cli/Dockerfile
    container_name: vectorizer
    command: start:cli vectorize
    environment:
      - LOG_LEVEL=info
      - DB_MIGRATIONS_APPLY=false
    volumes:
      - cli_data:/app/apps/cli/db
      - ./apps/cli/sufle.yml:/app/apps/cli/sufle.yml
      - ./apps/cli/sample/data:/app/apps/cli/sample/data
    restart: unless-stopped
    depends_on:
      - api
      - rclone

  reducer:
    build:
      dockerfile: ./apps/cli/Dockerfile
    container_name: reducer
    command: start:cli reduce
    environment:
      - LOG_LEVEL=info
      - DB_MIGRATIONS_APPLY=false
    volumes:
      - cli_data:/app/apps/cli/db
      - ./apps/cli/sufle.yml:/app/apps/cli/sufle.yml
      - ./apps/cli/sample/data:/app/apps/cli/sample/data
    restart: unless-stopped
    depends_on:
      - api
      - rclone

  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    container_name: api
    command: start:api
    environment:
      - LOG_LEVEL=info
      - DB_MIGRATIONS_APPLY=true
    volumes:
      - api_data:/app/apps/api/db
      - ./apps/api/sufle.yml:/app/apps/api/sufle.yml
      - ./apps/api/sample/data:/app/apps/api/data
    restart: unless-stopped

volumes:
  cli_data:
  api_data:
  rclone_data:
